$max-width: 145px;
$max-height: 45px;
$padding: 10.5px 28.5px;
$transition-color: color 0.4s ease-in-out;
$transition-backg: background 0.4s ease-in-out;

.button {
    &-fill {
        max-width: $max-width;
        max-height: $max-height;
        padding: $padding;
        transition: $transition-color;
        transition: $transition-backg;

        color: #0B1919;
        background-color: #BAE249;
        font-weight: 700;

        @media (hover: hover) {
            &:hover {
                background-color: #91AC46;
            }
        }

        &:active {
            background-color: #688B05;
        }

        &:disabled {
            opacity: 0.5;
            color: #1D2F30;
            background-color: #899D9D;
        }
    }

    &-not-fill {
        max-width: $max-width;
        max-height: $max-height;
        padding: $padding;
        transition: $transition-color;
        transition: $transition-backg;

        color: #BAE249;
        border: 1px solid #BAE249;

        @media (hover: hover) {
            &:hover {
                color: #0B1919;
                background-color: #BAE249;
            }
        }

        &:active {
            color: #0B1919;
            background-color: #688B05;
            border-color: #688B05;
        }

        &:disabled {
            color: #899D9D;
            border-color: #899D9D;
        }
    }
}