.gallery
{
    height: 565px;
    background-color: #1D2F30;
    
}

.carousel
{
    display: flex;
    gap: 40px;
    width: 100%;
    margin-bottom: 26px;
    overflow-x: scroll;

    &::-webkit-scrollbar
    {
        display: none;
    }

    &-slider
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        font: 700 24px/36px 'Cormorant';
        color: #FFF;
    }
}

@media (max-width: 726px) {
    .carousel {
        max-width: 257px;
        margin: 0 auto 26px;
    }
}