.gallery {
    height: 565px;
    background-color: #1D2F30;

}

.carousel {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-bottom: 26px;
    overflow-x: scroll;
    padding: 0 1px;

    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        display: none;
    }

    &-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        font: 700 24px/36px 'Cormorant';
        color: #FFF;

        &-point {
            display: none;
        }
    }
}

@media (max-width: 726px) {
    .carousel {
        max-width: 257px;
        margin: 0 auto 26px;

        &-slider {
            display: none;

            &-point {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                & span {
                    width: 10px;
                    height: 10px;
                    background-color: #0B1919;
                    border-radius: 50%;

                    &.active 
                    {
                        background-color: #BAE249;
                    }
                }
            }
        }
    }
}