.m-b-60 {
  margin-bottom: 60px;
}

.catalog {
  height: 490px;
  width: 100%;
  position: relative;
}
.catalog img {
  min-height: 490px;
  max-height: 490px;
  width: 100%;
  filter: brightness(50%);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 0;
}
.catalog .box {
  position: relative;
  z-index: 1;
}

.box {
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-info {
  width: 688px;
  color: #FFF;
}
.catalog-info h1 {
  font-family: Cormorant;
  font: 700 60px/60px "Cormorant";
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.catalog-info p {
  font-weight: 400 16px/24px "Open Sans";
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: 22px 0;
}
.catalog-info .catalog-button {
  padding: 4px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  cursor: pointer;
  color: #BAE249;
  transition: color 0.2s ease-in-out;
}
.catalog-info .catalog-button:hover {
  color: #91AC46;
}
.catalog-info .catalog-button:focus {
  padding: 3px;
  border: 1px solid #83A440;
}
.catalog-info .catalog-button:active {
  color: #688B05;
}
.catalog-info .catalog-button:disabled {
  color: #899D9D;
}

.about {
  height: 575px;
}
.about-title {
  font: 700 italic 48px/48px Cormorant;
  color: #FFF;
  margin-bottom: 30px;
}
.about-container {
  height: 493px;
  width: 100%;
  display: grid;
  grid-template-columns: 74% 22.4%;
  gap: 40px;
}
.about-container-img {
  padding: 16px;
  background-color: #0B1919;
}
.about-container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-container-text {
  padding: 16px;
  background-color: #BAE249;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-container-text h3 {
  color: #1D2F30;
  font: 700 24px/36px Cormorant;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.about-container-text p {
  color: #506829;
  font: 400 16px/24px "Open Sans";
  text-align: justify;
  margin-top: 8px;
}
.about-container-text button {
  color: #0B1919;
  font: 700 16px/22px "Open Sans";
  text-align: left;
  transition: color 0.4s ease-in-out;
}
.about-container-text button:hover {
  color: #688B05;
}

.contacts {
  height: 465px;
}
.contacts img {
  min-height: 465px;
  max-height: 465px;
  width: 100%;
  filter: brightness(50%);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.contacts div {
  position: relative;
  z-index: 1;
}
.contacts h2 {
  color: #FFF;
  font: 700 italic 48px/48px "Cormorant";
  margin-bottom: 16px;
}
.contacts p {
  width: 825px;
  color: #FFF;
  font: 400 16px/24px "Open Sans";
  text-align: left;
  margin-bottom: 24px;
}
.contacts-input {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=InfoSection.css.map */