section
{
    margin-bottom: 60px;
}

.catalog
{
    height: 490px;
    width: 100%;
    position: relative;

    img 
    {
        min-height: 490px;
        max-height: 490px;
        width: 100%;

        filter: brightness(50%);
        object-fit: cover;

        position: absolute;
        top: 0;
        z-index: 0;
    }

    .box
    {   
        position: relative;
        z-index: 1;
    }
}

.box
{
    height: 100%;
    width: 1140px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog-info
{
    width: 688px;
    color: #FFF;

    h2
    {
        font-family: Cormorant;
        font: 700 60px/60px 'Cormorant';
        text-decoration-skip-ink: none;
    }

    p
    {
        font-weight: 400 16px/24px 'Open Sans';
        text-decoration-skip-ink: none;
        margin: 22px 0;
    }

    .catalog-button
    {
        padding: 4px;

        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer;
        color: #BAE249;

        transition: color 0.2s ease-in-out;

        &:hover
        {
            color: #91AC46;
        }

        &:focus
        {
            padding: 3px;
            border: 1px solid #83A440;
        }

        &:active
        {
            color: #688B05;
        }

        &:disabled
        {
            color: #899D9D;
        }
    }
}