.m-b-60
{
    margin-bottom: 60px;
}

.catalog
{
    height: 490px;
    width: 100%;
    position: relative;

    img 
    {
        min-height: 490px;
        max-height: 490px;
        width: 100%;

        filter: brightness(50%);
        object-fit: cover;

        position: absolute;
        top: 0;
        z-index: 0;
    }

    .box
    {   
        position: relative;
        z-index: 1;
    }
}

.box
{
    height: 100%;
    width: 1140px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog-info
{
    width: 688px;
    color: #FFF;

    h1
    {
        font-family: Cormorant;
        font: 700 60px/60px 'Cormorant';
        text-decoration-skip-ink: none;
    }

    p
    {
        font-weight: 400 16px/24px 'Open Sans';
        text-decoration-skip-ink: none;
        margin: 22px 0;
    }

    .catalog-button
    {
        padding: 4px;

        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer;
        color: #BAE249;

        transition: color 0.2s ease-in-out;

        &:hover
        {
            color: #91AC46;
        }

        &:focus
        {
            padding: 3px;
            border: 1px solid #83A440;
        }

        &:active
        {
            color: #688B05;
        }

        &:disabled
        {
            color: #899D9D;
        }
    }
}

.about
{
    height: 575px;

    &-title
    {
        font: 700 italic 48px/48px Cormorant;
        color: #FFF;
        margin-bottom: 30px;
    }

    &-container
    {
        height: 493px;
        width: 100%;

        display: grid;
        grid-template-columns: 74% 22.4%;
        gap: 40px;

        &-img
        {
            padding: 16px;

            background-color: #0B1919;

            img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-text
        {
            padding: 16px;

            background-color: #BAE249;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3
            {
                color: #1D2F30;
                font: 700 24px/36px Cormorant;

                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }

            p
            {
                color: #506829;

                font: 400 16px/24px 'Open Sans';
                text-align: justify;

                margin-top: 8px;
            }

            button
            {
                color: #0B1919;
                font: 700 16px/22px 'Open Sans';

                text-align: left;
                transition: color 0.4s ease-in-out;

                &:hover
                {
                    color: #688B05;
                }
            }
        }
    }
}

.contacts
{
    height: 465px;

    img 
    {
        min-height: 465px;
        max-height: 465px;
        width: 100%;

        filter: brightness(50%);
        object-fit: cover;

        position: absolute;
    }

    div
    {
        position: relative;
        z-index: 1;
    }

    h2
    {
        color: #FFF;
        font: 700 italic 48px/48px "Cormorant";
        margin-bottom: 16px;
    }

    p
    {
        width: 825px;
        color: #FFF;
        font: 400 16px/24px 'Open Sans';
        text-align: left;
        margin-bottom: 24px;
    }

    &-input
    {
        display: flex;
        flex-direction: column;
    }
}